<div class="row">
  <div class="col-12 col-lg-6 mx-auto">
    <div class="text-center" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <div>
      <app-success-popup
        *ngIf="isPosted"
        [message]="message"
        (successfull)="onPopupRedirection()"
      ></app-success-popup>
    </div>

    <form
      [formGroup]="textUploadForm"
      (ngSubmit)="onSubmit()"
      *ngIf="!isLoading && !isPosted"
    >
      <div class="form-group">
        <textarea
          name="text-description"
          id="textDescription"
          rows="10"
          class="form-control"
          placeholder="Write or paste something..."
          name="textDescription"
          required
          formControlName="textDescription"
        ></textarea>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-12">
            <h6>Select Categories</h6>
          </div>
        </div>
        <div class="check-container mt-1">
          <div
            class="custom-control custom-checkbox"
            *ngFor="let category of categoryListing; let i = index"
          >
            <input
              type="checkbox"
              class="custom-control-input"
              name="textCategory"
              [value]="category.categoryName"
              (change)="onCheckboxChange($event)"
              [id]="i"
            />
            <label class="custom-control-label" [for]="i">{{
              category.categoryName
            }}</label>
          </div>
          <!--end checkbox-->
        </div>
      </div>

      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="textUploadForm.invalid"
        >
          Upload
        </button>
      </div>
    </form>
  </div>
</div>
