<a id="{{ textItem.id }}" (click)="onSelectText()">
  <div class="card">
    <div class="card-body">
      <p>{{ textItem.description | stringTruncate }}</p>
    </div>

    <div class="card-footer d-flex justify-content-between">
      <div class="">
        <h6 class="m-0">{{ textItem.user.name }}</h6>
        <p class="m-0">
          <small>{{ textItem.date | date: "mediumDate" }}</small>
        </p>
      </div>
      <!--end left content-->

      <div class="mobile_row">
        <div>
          <span class="d-flex align-items-center"
            ><img src="assets/images/like.png" alt="like" class="mr-1" />
            {{ textItem.likeUsersList.length }}</span
          >
        </div>
        <div>
          <span class="d-flex align-items-center"
            ><img src="assets/images/comment.png" alt="comment" class="mr-1" />
            {{ textItem.comment.length }}</span
          >
        </div>
      </div>
      <!--end right content-->
    </div>
  </div>
</a>
