<div class="row mt-3">
  <div class="col-12 col-lg-7 mx-auto">
    <div class="card">
      <div class="card-header text-right justify-content-end">
        <span class="badge badge-primary mr-2">Tag</span>
        <span class="badge badge-primary mr-2">Tag</span>
      </div>
      <div class="card-body">
        Joke Desccription...

        <hr />
        <div class="d-flex justify-content-between">
          <div class="left-content">
            <h6 class="mb-0">User name</h6>
            <p><small>Date</small></p>
          </div>
          <!--end left content-->

          <div class="right-content">
            <button
              type="button"
              class="btn btn-sm"
              [ngClass]="{
                'btn-primary': isLiked,
                'btn-outline-primary': !isLiked
              }"
              (click)="switchLike()"
            >
              Like
              <span
                class="badge"
                [ngClass]="{ 'badge-light': isLiked, 'badge-edit': !isLiked }"
                >4</span
              >
            </button>
          </div>
          <!--end right content-->
        </div>
      </div>

      <div class="card-footer">
        <div class="comment-thread">
          <div class="comment-block card mb-4">
            <div class="card-body py-3">
              <div class="d-flex justify-content-between">
                <h6 class="mb-0 text-muted">
                  <small>Comment owner name</small>
                </h6>
                <h6 class="mb-0 text-muted"><small>Comment date</small></h6>
              </div>
              <hr />
              comment body here............
            </div>
            <!--end card body-->
          </div>
          <!--end comment block-->
        </div>
        <!--end comment thread-->
        <hr />
        <div class="comment-form mt-4">
          <form>
            <div class="form-group">
              <textarea
                name="comment"
                id="comment"
                rows="5"
                class="form-control"
                placeholder="Comment goes here..."
              ></textarea>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Comment</button>
            </div>
          </form>
        </div>
        <!--end comment form-->
      </div>
    </div>
  </div>
</div>
