<div class="row mt-3">
  <div class="col-12 col-lg-7 mx-auto">
    <div *ngIf="isLoading" class="text-center">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <div *ngIf="likeErrorMessage">
      <app-error-popup
        [message]="likeErrorMessage"
        (close)="onClose()"
      ></app-error-popup>
    </div>

    <div class="card" *ngIf="!isLoading">
      <div class="card-header text-right justify-content-end">
        <span
          class="badge badge-primary mr-2"
          *ngFor="let tag of selectedPost.category"
          >{{ tag }}</span
        >
      </div>
      <div class="card-body pb-1">
        <pre>{{ selectedPost.description }}</pre>

        <hr />
        <div class="d-flex justify-content-between">
          <div class="right-content">
            <button
              type="button"
              class="btn btn-sm"
              [ngClass]="{
                'btn-primary': alreadyLiked || isLiked,
                'btn-outline-primary': !alreadyLiked && !isLiked
              }"
              (click)="switchLike()"
            >
              Like
              <span
                class="badge"
                [ngClass]="{ 'badge-light': alreadyLiked || isLiked }"
                >{{ selectedPost.likeUsersList.length }}</span
              >
            </button>
            <div>
              <span class="text-muted">
                <small>Comment {{ selectedPost.comment.length }}</small>
              </span>
            </div>
          </div>

          <div class="left-content">
            <h6 class="mb-0">{{ selectedPost.user.name }}</h6>
            <p>
              <small>{{ selectedPost.date | date: "medium" }}</small>
            </p>
          </div>
          <!--end left content-->

          <!--end right content-->
        </div>
      </div>

      <div class="card-footer">
        <div class="comment-thread" *ngIf="selectedPost.comment.length > 0">
          <div
            class="comment-block card mb-4"
            *ngFor="let comment of selectedPost.comment"
          >
            <div class="card-body py-3">
              <div class="d-flex justify-content-between">
                <h6 class="mb-0 text-muted">
                  <small>{{ comment.user.name }}</small>
                </h6>
                <h6 class="mb-0 text-muted">
                  <small>{{ comment.date | date: "short" }}</small>
                </h6>
              </div>
              <hr />
              {{ comment.body }}
            </div>
            <!--end card body-->
          </div>
          <!--end comment block-->
        </div>
        <!--end comment thread-->
        <hr />
        <div class="comment-form mt-4" *ngIf="authUser">
          <form #commentForm="ngForm" (ngSubmit)="onComment(commentForm)">
            <div class="form-group">
              <textarea
                name="comment"
                id="comment"
                rows="5"
                class="form-control"
                placeholder="Comment goes here..."
                required
                ngModel
                name="commentBody"
              ></textarea>
            </div>

            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="commentForm.invalid"
              >
                Comment
              </button>
            </div>
          </form>
        </div>
        <!--end comment form-->
      </div>
    </div>
  </div>
</div>
