<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header align-items-center justify-content-center">
        <h5 class="modal-title text-center">Congratulations!</h5>
      </div>
      <div class="modal-body">
        <img
          src="assets/images/check_icon.png"
          alt="check-icon"
          class="img-fluid"
        />
        <p class="text-center">{{ message }}</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-warning" (click)="onOkay()">
          Okay
        </button>
      </div>
    </div>
  </div>
</div>
